/*
@import url(styles/Main.css);
@import url(styles/Footer.css);
*/
@import url(styles/Header.css);

:root {
    display: flex;
    flex-direction: column;
}


div[draggable] {
    cursor: move;
  }
  
  div[draggable]:hover {
    opacity: 0.6;
  }
  
  div[draggable]:active {
    cursor: grabbing;
  }

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1;
    min-height:300px;
}

